<h3>Busca lugares con respecto a un beneficio</h3>
<br>
<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="in-beneficio" autofocus size="75" placeholder="Introduce el nombre de un lugar">
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>
