<h3>Busca un beneficio para ver en que sitio poder obtenerlo</h3>
<br>
<form class="form-inline" action="/buscar-beneficio" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="in-beneficio" name="beneficios" autofocus size="75" placeholder="Introduce un beneficio">
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<% if @listado !=  nil %>
  <p>
    <br>
    <% if @listado.length > 0 %>
      <center><h4>Resultados de la búsqueda</h4></center>

      <table class="table table-hover">
        <thead>
          <tr>
            <td class="col-md-4"><b> Lugar </b></td>
            <td class="col-md-4"><b> Provincia </b></td>
            <td class="col-md-4"><b> País </b></td>
          </tr>
        </thead>
        <tbody>
          <% @listado.each do |valor| %>
            <tr>
              <td> <%= valor.nombre %> </td>
              <td> <%= valor.provincia %> </td>
              <td> <%= valor.pais %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <center><h4>No se han obtenido resultados de la búsqueda</h4></center>
    <% end %>
  </p>
<% end %>
