<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mediSitios</title>
    <link rel="icon" type="image/png" href="/images/40519.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="cabecera">
      <!-- <h1>mediSitios</h1>
      <h2>Beneficios del mundo</h2> -->
      <img src="/images/logo2.png" alt="Logo de mediSitios" class="center-block" />
    </div>

    <div id="menu">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/">Inicio</a>

          </div>
        </div>
      </nav>
    </div>

    <div id="contenido">
      <%= yield %>
    </div>

    <div id="pie">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            Jonay Suárez Armas | alu0100600674@ull.edu.es | Gestión del Conocimiento para las Organizaciones
          </div>
        </div>
      </nav>
    </div>

    <!-- Scripts para Boostrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
