<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mediSitios</title>
    <link rel="icon" type="image/png" href="/images/40519.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="cabecera">
      <!-- <h1>mediSitios</h1>
      <h2>Beneficios del mundo</h2> -->
      <img src="/images/logo2.png" alt="Logo de mediSitios" class="center-block" />
    </div>

    <div id="menu">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Inicio</a></li>
              <li><a href="/recomendados">Sitios recomendados</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buscar<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/buscar-sitio">Sitio</a></li>
                  <li><a href="/buscar-enfermedad">Enfermedad</a></li>
                  <li><a href="/buscar-beneficio">Beneficio</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id="contenido">
      <%= yield %>
    </div>

    <div id="pie">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a>Jonay Suárez Armas</a></li>
              <li><a>alu0100600674@ull.edu.es</a></li>
              <li><a>Gestión del Conocimiento para las Organizaciones</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Scripts para Boostrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
